.container-list{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 20px;
}





