.wrap-button{
    margin-top: 20px;
}

.button{
    background-color: #72a1ffbb;
    width: 200px;
    color: white;
    height: 40px;
    font-size: 14px;
    border: 1px solid #dfe1e5 ;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover{
    background-color: #72a1ff;
}