.container-card{
    width: 270px;
    height: 250px;
    max-height: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow:0 1px 6px rgba(32,33,36,.28)
}

.thumb{
    width: 100%;
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.content-card{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.title-video{
    font-weight: 600;
    flex: 2;
    color: #1e1e1e;
    font-size: 14px;
    display: flex;
    height: 40px;
    max-height: 40px;
}

.footer-card{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #999;
}

.channel-name{
    width: 50%;
}


.published-date{
    width: 50%;
    text-align: right;
}