.wrap-search-input{
    
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid #dfe1e5 ;
    box-shadow:0 1px 6px rgba(32,33,36,.28)
}

.wrap-search-large{
    width: 500px;
    height: 45px;
}

.wrap-search-small{
    width: 600px;
    height: 30px;
}

.wrap-search-input:hover{
    border: 1px solid #72a1ff ;
}
.search-input{
    width: 95%;
    height: 100%;
    border: none;
    border-radius: 10px;
    color: #282828;
    
}

.search-input-small{
    font-size: 14px;
}

.search-input-large{
    font-size: 20px;
}

.icon-search{
    font-size: 25px;
    color: #9aa0a6;
}